* {
  font-family: Georgia, serif, sans-serif, Verdana;
}

p {
  font-family: sans-serif;
  font-size: medium;
}

:root {
  --darkslate: darkslategray;
  --headerFontColor: white;
  --normalTextColor: black;
}

/* all headers CSS*/

h4 {
  margin-top: 100px;
  font-size: 60px;
}

.header {
  display: flex;
  background-color: var(--darkslate);
  justify-content: space-between;
  color: var(--headerFontColor);
  position: fixed;
  width: 100%;
  font-size: 60px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 1%;
  padding-bottom: 2px;
  /* outline: red 1px solid; */
}

/*navigation stuff*/
.header .nav {
  display: flex;
  justify-content: flex-end;
  /* outline: red 1px solid; */
  flex-direction: row;
  color: var(--headerFontColor);
  padding-top: 5px;
  margin-top: 20px;
  margin-right: 30px;
  font-size: large;
} 

.nav a {
  padding: 10px;
  border-bottom: 2px var(--darkslate) solid;
  border-right: 2px var(--darkslate) solid;
  text-decoration: none;
}

a:link {
  color: var(--headerFontColor);
}

a:visited {
  color: var(--headerFontColor);
}

.nav a:hover {
  background-color: dimgray;
  color: var(--headerFontColor);
  border-bottom: 2px black solid;
  border-right: 2px black solid;
  padding: 10px;
  text-decoration: none;
}

figcaption {
  margin-left: 20px;
  font-family: sans-serif;
  font-size: large;
}

/*main section stuff*/
.main {
  display: flex;
  /* outline: 1px solid red; */
}

.main .details {
  padding: 30px;
}

.aboutMeHeader {
  /* display: flex; */
  font-size: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  /* outline: red 3px solid; */
}

.workHeader {
  font-size: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.details .aboutMe {
  margin-top: 10%;
  margin-bottom: auto;
  padding-top: 20px;
  font-size: large;
  color: var(--normalTextColor);
  /* outline: 1px solid red; */
}

.aboutMeP {
  font-size: large;
}

.details .work {
  margin-top: 10%;
  color: var(--normalTextColor);
  /* outline: 1px solid red; */
}

.details .work img {
  background-color: antiquewhite;
  /* outline: 1px solid red; */
}

div.work-images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div.work-images a.facebook img {
  flex: 8 0 100%;
  /* outline: 5px solid green; */
}

div.work-images a.instagram {
  flex: 2 1 -1;
  /* outline: 5px solid green; */
}

div.work-images a.hero-image {
  flex: 2 1 -1;
  /* outline: 5px solid green; */
}

.work img:hover {
  opacity: .5;
}

@media screen and (max-width: 768px){
  .main {flex-direction: column; flex-wrap: wrap; flex-shrink: 1;}
  h2 {font-size: medium;}
  p {font-size: small;}
  .header {padding: auto; margin: auto; flex-wrap: wrap;}
  .nav {padding: auto; margin: auto; flex-wrap: wrap;}
  .details {flex-shrink: 1; flex-wrap: wrap;}
  a img {flex-shrink: 1; width: auto;}
}

@media screen and (max-width: 600px){
  .main {flex-direction: column; flex-wrap: wrap; flex-shrink: 1;}
  h2 {font-size: medium;}
  p {font-size: small;}
  .header {padding: auto; margin: auto; flex-wrap: wrap;}
  .nav {padding: auto; margin: auto; flex-wrap: wrap;}
  .details {flex-shrink: 2; flex-wrap: wrap;}
  /* .image {flex-shrink: 2;} */
  a img {flex-shrink: 2; width: auto;}
}

.image {
  margin-bottom: 100px;
  /* left: 100px; */
}

/* this is the footer Phone number, email, etc. spacing*/
li {
  padding: 7px;
}

/*Contact footer info*/
.contactMe .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: large;
  padding-left: 10px;
  padding: 5px;
  /* outline: 1px solid red; */
}

/*this is the contact me header*/
.contactMe {
  display: flex;
  justify-content: space-between;
  font-size: 45px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 1%;
  padding-bottom: 2px;
  /* outline: 1px solid red; */
}

/*this is the footer main info, background, font, etc.*/
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--darkslate);
  color: var(--headerFontColor);
}



