:root {
  --darkslate: darkslategray;
  --headerFontColor: white;
  --normalTextColor: black;
  --detailsSectionHeader: 
}

.header {
  display: flex;
  background-color: var(--darkslate);
  justify-content: space-between;
  color: var(--headerFontColor);
  position: fixed;
  width: 100%;
  font-size: 60px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 1%;
  padding-bottom: 2px;
  /* outline: red 1px solid; */
}

/*navigation stuff*/
.header .nav {
  display: flex;
  justify-content: flex-end;
  /* outline: red 1px solid; */
  flex-direction: row;
  color: var(--headerFontColor);
  padding-top: 5px;
  margin-top: 20px;
  margin-right: 30px;
  font-size: large;
} 

.nav a {
  padding: 10px;
  border-bottom: 2px var(--darkslate) solid;
  border-right: 2px var(--darkslate) solid;
  text-decoration: none;
}

a:link {
  color: var(--headerFontColor);
}

a:visited {
  color: var(--headerFontColor);
}

.nav a:hover {
  background-color: dimgray;
  color: var(--headerFontColor);
  border-bottom: 2px black solid;
  border-right: 2px black solid;
  padding: 10px;
  text-decoration: none;
}

/*main section stuff*/
.main {
  display: flex;
  outline: 1px solid red;
}

/* .main.image {
  width: 50%;
  outline: 1px solid red;
  flex-direction: column;
} */

.main .details {
  display: flex;
  width: 50%;
  outline: 1px solid red;
}

/* div.details {
  display: flex;
  flex-direction: column;
  width: 50%;
  outline: 1px solid red;
} */

.aboutMeHeader {
  display: flex;
  padding-right: 5px;
  font-size: 40px;
  margin-right: 20px;
  border-right: 3px black solid;
  margin-bottom: auto;
}

.workHeader {
  display: flex;
  padding-right: 5px;
  font-size: 40px;
  margin-right: 20px;
  border-right: 3px black solid;
  margin-bottom: auto;
}

.details {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.details .aboutMe {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  padding-top: 20px;
  font-size: large;
  color: var(--normalTextColor);
  outline: 1px solid red;
}

.aboutMeP {
  font-size: large;
}

.details .work {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  font-size: large;
  color: var(--normalTextColor);
  outline: 1px solid red;
}

.workP {
  font-size: large;
}

.main.image {
  width: 100%;
  outline: 1px solid red;
}


/* this is the footer Phone number, email, etc. spacing*/
li {
  padding: 7px;
}

/*Contact footer info*/
.contactMe .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: large;
  padding-left: 10px;
  padding: 5px;
  /* outline: 1px solid red; */
}

/*this is the contact me header*/
.contactMe {
  display: flex;
  justify-content: space-between;
  font-size: 45px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 1%;
  padding-bottom: 2px;
  /* outline: 1px solid red; */
}

/*this is the footer main info, background, font, etc.*/
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--darkslate);
  color: var(--headerFontColor);
}



